@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600;700&display=swap");

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

::-moz-selection {
  /* Code for Firefox */
  background: none;
}

::selection {
  background: none;
}

:root {
  --mouse-x: 0;
  --mouse-y: 0;
}

.about-me {
  background: linear-gradient(150deg, #4e5067, #323346);
  height: 115em;
  position: relative;
  scroll-margin-top: -14em;
}

.about-me-bubble {
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0 0 1.2em #29222d);
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.about-me-content {
  margin: 32em 55% 0 12em;
  position: absolute;
}

.about-me-ring {
  background: none;
  border: 1.5px solid #646479;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

.absolute {
  position: absolute;
}

.animated-text {
  height: 2em;
  text-align: left;
}

.animated-text-content {
  color: #766df0;
  display: inline-block;
  margin-bottom: 0.15em;
  vertical-align: middle;
}

.animated-text-cursor {
  animation: blink 0.75s step-end infinite;
  display: inline-block;
  height: 1.3em;
  margin-bottom: 0.14em;
  margin-left: 0.07em;
  position: absolute;
  vertical-align: middle;
  width: 3px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

.browser {
  height: 22.5em;
  transform: translate(-1.5em, 1.5em);
  width: 37em;
}

.browser img {
  filter: drop-shadow(0 1em 1em rgba(41, 34, 45, 0.2));
  transform: translate(-0.6em, -5em);
}

.browser-content {
  background-size: cover;
  height: 21.27em;
  position: absolute;
  transform: translate(2.55em, -0.95em);
  width: 37.45em;
  z-index: 1;
}

button {
  border-radius: 2em;
  cursor: pointer;
  filter: drop-shadow(0 0.2em 3px rgba(56, 56, 56, 0.1));
  font-size: 1em;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  outline: none;
  text-align: center;
  text-decoration: none;
  width: 9.5em;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  height: 50em;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  transform: translateX(-12em);
  width: 100vw;
}

.notes-link {
  color: #bbfcff;
  text-decoration: none;
}

@media (hover: hover) {
  .notes-link:hover {
    text-decoration: underline;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-card {
  background: linear-gradient(150deg, #6393f6, #b4cffb);
  border-radius: 3em;
  filter: drop-shadow(0 1em 1em rgba(41, 34, 45, 0.2));
  height: 40em;
  scroll-snap-align: start;
  width: 28em;
}

.carousel-card:nth-child(1) {
  background: none;
  width: 10em;
}

.carousel-card:nth-last-child(1) {
  margin-right: 12em;
}

.carousel-card-content {
  padding: 0 3em 0 3em;
  color: white;
}

hr {
  width: 100%;
  border-top: 1px solid white;
}

.center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.education {
  background: linear-gradient(90deg, #746dec, #749aed);
  height: 63em;
}

.education-content {
  padding: 5em 12em 0 12em;
}

/* Heading 1 */
h1 {
  font-size: 4.8em;
  margin: 0;
}

/* Heading 2 */
h2 {
  font-size: 3em;
  margin: 0;
}

/* Subheading 1 */
h3 {
  font-size: 2.2em;
  margin: 0;
}

/* Subheading 2 */
h4 {
  font-size: 1.8em;
  margin: 0;
}

/* Subheading 2 */
h5 {
  font-size: 1.8em;
  margin: 0;
}

/* Body */
h5 {
  font-size: 1.3em;
  margin: 0;
}

html {
  background: #f4f7fb;
  scroll-behavior: smooth;
}

@media screen and (max-width: 346px) {
  html {
    zoom: 0.18;
  }
}

@media screen and (min-width: 347px) and (max-width: 370px) {
  html {
    zoom: 0.2;
  }
}

@media screen and (min-width: 371px) and (max-width: 424px) {
  html {
    zoom: 0.22;
  }
}

@media screen and (min-width: 425px) and (max-width: 488px) {
  html {
    zoom: 0.25;
  }
}

@media screen and (min-width: 489px) and (max-width: 570px) {
  html {
    zoom: 0.3;
  }
}

@media screen and (min-width: 571px) and (max-width: 644px) {
  html {
    zoom: 0.35;
  }
}

@media screen and (min-width: 645px) and (max-width: 730px) {
  html {
    zoom: 0.4;
  }
}

@media screen and (min-width: 731px) and (max-width: 820px) {
  html {
    zoom: 0.45;
  }
}

@media screen and (min-width: 821px) and (max-width: 884px) {
  html {
    zoom: 0.5;
  }
}

@media screen and (min-width: 885px) and (max-width: 955px) {
  html {
    zoom: 0.55;
  }
}

@media screen and (min-width: 955px) and (max-width: 1024px) {
  html {
    zoom: 0.6;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1148px) {
  html {
    zoom: 0.65;
  }
}

@media screen and (min-width: 1149px) and (max-width: 1192px) {
  html {
    zoom: 0.7;
  }
}

@media screen and (min-width: 1193px) and (max-width: 1294px) {
  html {
    zoom: 0.75;
  }
}

@media screen and (min-width: 1295px) and (max-width: 1372px) {
  html {
    zoom: 0.8;
  }
}

@media screen and (min-width: 1373px) and (max-width: 1444px) {
  html {
    zoom: 0.85;
  }
}

@media screen and (min-width: 1445px) and (max-width: 1624px) {
  html {
    zoom: 0.9;
  }
}

@media screen and (min-width: 1625px) {
  html {
    zoom: 1;
  }
}

p {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0;
}

.homepage {
  background: #f4f7fb;
  height: 50em;
  position: relative;
  z-index: 1;
}

.homepage-bubble {
  background: radial-gradient(
    circle,
    rgb(225, 192, 255) 0%,
    rgba(245, 237, 255, 0) 70%
  );
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(56, 56, 56, 0.2),
    inset 2em 4em 30px 5px rgb(255, 255, 255);
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  transition: left 500ms ease-out, right 500ms ease-out;
  z-index: 1;
}

.homepage-content {
  margin: 14em 50% 0 12em;
  position: absolute;
  z-index: 2;
}

.icon-top {
  opacity: 1;
}

.icon-bottom {
  opacity: 0;
}

.navbar {
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 5em;
  position: fixed;
  right: 1.5em;
  margin-top: 1em;
  z-index: 10;
}

.navbar-banner {
  background: #f4f7fb;
  border-radius: 0 2.5em 2.5em 0;
  filter: drop-shadow(0 0.4em 5px rgba(56, 56, 56, 0.4));
  float: right;
  transition: width 0.5s, opacity 1s;
  width: 40em;
}

.navbar-banner-hide {
  width: 0 !important;
  opacity: 0;
}

.navbar-banner ul {
  list-style-type: none;
  overflow: hidden;
}

.navbar ul li {
  float: right;
}

.navbar-banner ul li a {
  color: #5a5b74;
  font-size: 1em;
  font-weight: 600;
  padding: 0 0.9em 0 0.9em;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.25s;
  width: auto;
}

@media (hover: hover) {
  .navbar-banner ul li a:hover {
    color: #766df0 !important;
    transition: color 0.25s;
  }
}

.navbar-content {
  margin-left: 38em;
  position: fixed;
  transform: translateX(-50%);
  transition: 0.5s;
  width: 100%;
}

.navbar-content-hide {
  transform: scale(0);
  margin-left: -5em;
}

.navbar-toggle {
  background: white;
  border-radius: 50%;
  color: #5a5b74;
  cursor: pointer;
  font-weight: 600;
  filter: drop-shadow(0 0.4em 5px rgba(56, 56, 56, 0.4));
  height: 5em;
  margin-right: -2.5em;
  transition: 0.5s;
  width: 5em;
  z-index: 1;
}

@media (hover: hover) {
  .navbar-toggle:hover {
    transition: color 0.25s;
    color: #766df0 !important;
  }
}

.navbar-toggle-hide {
  transform: translateX(-2em) rotate(180deg);
  filter: drop-shadow(0 -0.4em 5px rgba(56, 56, 56, 0.4));
}

.portfolio {
  height: 83em;
  margin-top: -27em;
  position: relative;
  scroll-margin-top: 4em;
}

.portfolio-content {
  position: absolute;
  text-align: center;
  width: 100%;
}

.portfolio-description {
  margin-right: 1.5em;
  max-width: 33%;
  padding-right: 4em;
  text-align: left;
}

.portfolio-tag {
  border: 1.5px solid black;
  border-radius: 0.8em;
  color: black;
  font-size: 1em;
  padding: 0.4em 0.6em 0.4em 0.6em;
  width: fit-content;
}

.portfolio-listing {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8em 0 8em 0;
}

.primary-button {
  background: linear-gradient(90deg, #b1b1ff, #664ff5);
  backdrop-filter: blur(2px);
  border: none;
  color: white;
  padding: calc(0.7em + 2px) 2px calc(0.7em + 2px) 2px;
  transition: color 0.35s;
}

@media (hover: hover) {
  .primary-button:hover {
    background: none;
    border: 2px solid #766df0;
    color: #766df0;
    padding: 0.7em 0 0.7em 0;
  }
}

.primary-icon {
  background: linear-gradient(90deg, #9595fc, #664ff5);
  backdrop-filter: blur(2px);
  border: none;
  border-radius: 50%;
  filter: drop-shadow(0 0.2em 3px rgba(56, 56, 56, 0.1));
  height: 3.5em;
  transition: background 0.35s;
  width: 3.5em;
  position: absolute;
}

@media (hover: hover) {
  .primary-icon:hover {
    background: none;
    border: 1.5px solid #766df0;
    height: calc(3.5em - 3px);
    width: calc(3.5em - 3px);
  }

  .primary-icon:hover > .icon-top {
    opacity: 0;
  }

  .primary-icon:hover > .icon-bottom {
    opacity: 1;
  }
}

.profile-picture {
  border-radius: 50%;
  height: 90%;
  width: 90%;
}

.secondary-button-dark {
  background: none;
  backdrop-filter: blur(2px);
  border: 1.5px solid lightgray;
  color: white;
  padding: 0.7em 0 0.7em 0;
  transition: all 0.35s;
}

@media (hover: hover) {
  .secondary-button-dark:hover {
    border: 1.5px solid #766df0;
    color: #766df0;
  }
}

.secondary-button-light {
  background: none;
  backdrop-filter: blur(2px);
  border: 2px solid lightgray;
  color: gray;
  padding: 0.7em 0 0.7em 0;
  transition: all 0.35s;
}

@media (hover: hover) {
  .secondary-button-light:hover {
    border: 2px solid #766df0;
    color: #766df0;
  }
}

.secondary-icon {
  background: none;
  backdrop-filter: blur(2px);
  border: 1.5px solid lightgray;
  border-radius: 50%;
  filter: drop-shadow(0 0.2em 3px rgba(56, 56, 56, 0.1));
  height: calc(3.5em - 3px);
  transition: background 0.35s;
  width: calc(3.5em - 3px);
  position: absolute;
}

@media (hover: hover) {
  .secondary-icon:hover {
    border: 1.5px solid #766df0;
    background: none;
  }

  .secondary-icon:hover > .icon-top {
    opacity: 0;
  }

  .secondary-icon:hover > .icon-bottom {
    opacity: 1;
  }
}

.shadow {
  filter: drop-shadow(0 0 0.7em #29222d);
}

.social-sheet {
  margin: 0 0 2.5em -2em;
}

.social-sheet ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.social-sheet ul li {
}

.social-sheet ul li a {
  padding: 2.15em;
  display: inline-block;
}

.social-sheet ul li a img {
  border: none;
  position: absolute;
  transition: 0.35s;
  width: 2em;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.thick {
  font-weight: 400;
}

.regular {
  font-weight: 200;
}

.svg-shape {
  -webkit-clip-path: url(#my-shape);
  clip-path: url(#my-shape);
}

@keyframes blink {
  from,
  to {
    background: #9595fc;
  }
  50% {
    background: transparent;
  }
}
